@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");

body, html {
    height: 100%;
    font-family: Montserrat;
    background-color: rgb(22, 22, 22);
    color: white;
    margin: 0;
}


/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/mont.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 30px;
    padding-top: 90px;
  }

.hero-inner {
    margin-bottom: 50px;
    width: 100%;
}

.hero-inner > img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Scroll Circle */

.scroll-circle {
  
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  color: black;
  border-radius: 50%;
  bottom: 30px;
  animation: move 5s ease-in-out infinite;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  
}


.scroll-circle:hover {
  background-color: rgb(130, 180, 83);
  color: white;
}

@keyframes move {
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Header */

.header {
  width: 100%;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgba(255, 106, 106, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
  position: fixed;
  z-index: 99;
  color: white;
}

.header > h5 {
  font-size: 18px;
}


/* Opening Section */

.opening-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/mont-2.jpg");
  color: white;
  height: auto;
  padding-bottom: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 5px rgb(255, 82, 82);
}

.opening-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 80%;
}

.opening-content {
  margin: 30px;
  background-color: rgba(128, 128, 128, 0.158);
  padding: 20px 30px;
  text-align: center;
  border: 1px rgb(153, 153, 153) solid;
  border-radius: 10px;
}

.opening-content > h1 {
  font-weight: bold;
  font-size: 54px;
}

.opening-content > p {
  font-size: 20px;
}


/* Food Section */

.food-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 2em;
  width: 80%;
  margin-top: 40px;
}

.cards {
  background-color: rgb(132, 185, 119);
  height: 500px; 
  align-self: center;
  text-align: center;
  color: white;


  -webkit-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
}

.cards:nth-child(odd) {
  height: 420px;
}

.cards > h1, h3 {
  margin: 20px;
  position: relative;
  top: 25%;
}


.cards > h1 {
  font-size: 45px;
  font-weight: bold;
}

.cards > a {  
  width: 60%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 2px;
  padding: 12px;
  border: 1px solid rgb(209, 209, 209);
  background-color: rgba(49, 49, 49, 0.5);
  transition: all 0.5s ease;
  display: block;
  position: relative;
  top: 30%;
  margin: 0 auto;
}

.cards > a:hover {  
  background-color: rgba(29, 29, 29, 0.7);
  border: 1px solid rgb(130, 180, 83);
}

.cards:nth-child(1), .cards:nth-child(2), .cards:nth-child(3) {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/steak.jpg");
}

.cards:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/golfer.jpg");
}

.cards:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/carvery.jpg");
}


/* Festive Section */

.festive-container {
  background-color: rgb(255, 82, 82);
  padding-top: 1px;
  border-top: 6px rgb(30, 119, 34) dashed;
  border-bottom: 6px rgb(30, 119, 34) dashed;
  text-align: center;
}

.festive-menus {
  display: inline-flex;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 50px;
}

.festive-menus > a {
  display: flex;
  text-decoration: none;

  background-color: rgb(177, 55, 55);
  padding: 100px 50px;
  margin: 20px;
  
  -webkit-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.47);
  border: 2px rgb(255, 255, 255) dotted;
  transition: all 0.5s ease;
}

.festive-menus > a > h4 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.festive-menus > a:hover {
  cursor: pointer;
  background-color: rgb(196, 47, 47);
  border: 2px rgb(30, 119, 34) dotted;
}

.festive-menus > a:hover h4 {
  color: rgb(255, 156, 98);
}


/* Contact Section */

.contact-container {
  border-top: solid 5px rgb(255, 82, 82);
}

.contact-inner {
  text-align: center;
}

.contact-content {
  display: inline-block;
  width: 300px;
  margin: 0 50px;
}

.contact-content i {
  margin-bottom: 5px;
}

.contact-inner > h3 {
  font-size: 26px;
  margin: 0;
  margin-top: 30px;
}

.contact-inner h3 > span {
  color: rgb(255, 181, 44);
  font-weight: bold;
}

#gmap_canvas, .gmap_canvas, .gmap_canvas {
  width: 700px;
  height: 400px;
}
.mapouter, .gmap_canvas {
  margin: 0 auto;
}


/* Heading Strikes and Line Breaks */

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
  font-size: 36px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 2px;
  background: rgb(194, 194, 194);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.linebreak {
  display: block;
  font-size: 36px;
  width: 5%;
  height: 2px;
  background-color: rgb(194, 194, 194);
  margin: 0 auto;
  margin-top: 40px;
}


/* Footer */

.footer {
  margin-top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #000000;
  color: rgb(184, 184, 184);
  text-align: center;
}


/* Media Queries */

@media only screen and (max-width: 1300px) {
  .cards > h1 {
    font-size: 32px;
  }
  .cards > h3 {
    font-size: 18px;
  }
  .cards > a {
    top: 25%;
    font-size: 16px;
    width: 80%;
  }
  .opening-inner {
    grid-template-columns: 1fr;
  }

  .festive-menus {
    display: inline-block;
  }
  .festive-menus > a {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 70%;
  }
  .festive-menus > a > h4 {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .food-inner {
    display: inline-block;
    width: 100%;
  }
  .cards, .cards:nth-child(odd) {
    margin: 30px 30px;
    height: 400px;
    margin-top: 0;
  }
  .cards > h1, h3 {
    top: 35%;
  }
  .cards > a {
    top: 35%;
    width: 60%;
  }
  .opening-content > h1 {
    font-size: 30px;
  }
  .opening-content > p {
    font-size: 16px;
  }

  #gmap_canvas {
    width: 300px;
    height: 300px;
  }
  .mapouter {
    width: 300px;
    height: 300px;
  }
  .gmap_canvas {
    width: 300px;
    height: 300px;
  }
  .hero-inner > img {
    width: 270px;
    height: 270px;
  }
  .opening-inner {
    width: 100%;
  }
  .opening-content {
    padding: 10px;
  }
  .strike {
    font-size: 26px;
  }
  .festive-container h5 {
    font-size: 16px;
  }
  .festive-menus {
    width: 100%;
  }
  .festive-menus > a > h4 {
    font-size: 22px;
  }
  .header h4 {
    font-size: 16px;
  }
  .header h5 {
    font-size: 14px;
  }
  .contact-content {
    margin: 10px 0;
  }
  .scroll-circle {
    width: 40px;
    height: 40px;
    font-size: 26px;
  }

}


